


  .game-grid, .tile-grid {
    width: 37vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1.5vw;
    border: 2vw solid var(--grid-border-color);
    border-radius: 4px;
    background-color: var(--grid-border-color);
  }
  
  .tile-grid{
    background-color: transparent;
    position: absolute;
    border: none;
  }
  
  .grid-cell {
    width: var(--tile-size);
    height: var(--tile-size);
    border-radius: 4px;
    background-color: var(--grid-background-color);
  }
  
